
<div class="btn-group btn-group-justified">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Beef <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Tenderloin</a></li>
    <li><a href="#">Roast</a></li>
    <li><a href="#">Brisket</a></li>
    <li><a href="#">Ribs</a></li>
    <li><a href="#">Steak</a></li>
    <li><a href="#">Tri-Tip</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Pork <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Tenderloin</a></li>
    <li><a href="#">Roast</a></li>
    <li><a href="#">Ribs</a></li>
    <li><a href="#">Ham</a></li>
    <li><a href="#">Chop</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Lamb <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Leg</a></li>
    <li><a href="#">Rack</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Chicken <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Whole</a></li>
    <li><a href="#">Breast(Bone-In)</a></li>
    <li><a href="#">Breast(Boneless)</a></li>
    <li><a href="#">Leg</a></li>
    <li><a href="#">Thigh</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Turkey <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Breast</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Fish <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Whole</a></li>
    <li><a href="#">Fillet</a></li>
  </ul>
</div>
</div>